.programs {
    padding-top: 100px;

    &-subtitle {
        text-align: center;
        font-size: 14px;
        line-height: 21px;
        color: #262626;
        margin-bottom: 10px;
    }

    &-title {
        text-transform: capitalize;
        text-align: center;
        font-size: 40px;
        font-weight: 600;
        line-height: 60px;
        color: #222222;
        margin-bottom: 30px;
    }
}