
$base-dark-color: #161D2F;
$white-color: #ffffff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1130px;
    padding: 0 10px;
    margin: 0 auto;
}

.subtitle {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
}

